@import url("https://fonts.googleapis.com/css2?family=Allan&family=DM+Sans&display=swap");
/* 2. Typography  ======================================= */
p {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Allan", cursive;
}

/* 3. Navigation  ================================== */
.navBar {
  background: #00291F;
  color: #FCFAFC;
  height: 80px;
  display: flex;
  margin-bottom: 5rem;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.navBar ul {
  display: flex;
  list-style-type: none;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 2rem;
}

.navBar li {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 1rem;
}

.navBar li img {
  width: 80px;
  height: 80px;
  padding: 0;
}

.navBar a {
  color: #FCFAFC;
}

.navBar a:hover {
  color: #FF5A1F;
}

/* 5. Media  ============================= */
.compareHikeBtn {
  text-align: right;
}

.singlePageButtons {
  display: flex;
  flex-wrap: row nowrap;
  justify-content: center;
}

.ContactButton {
  background-color: #FF5A1F;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 20px;
  text-decoration: none;
  margin-top: 1rem;
  margin-left: auto;
  border: none;
}

/* 6. Elements  =============================== */
.reviewCards {
  display: flex;
  flex-direction: row;
}

.reviewCards .reviewCard {
  border: 1px solid black;
  border-radius: 2rem;
  margin: 0 1rem;
  padding: 2rem;
}

.AboutGallery {
  margin: 1rem 2rem;
}

.AboutUsGalleryDesigners,
.AboutUsGalleryDevelopers {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  text-align: center;
  margin: 3rem 0;
}

.AboutUsGalleryDesigners .teamName,
.AboutUsGalleryDevelopers .teamName {
  color: #FF5A1F;
  font-family: "DM Sans", sans-serif;
  font-size: 1.2rem;
}

.AboutUsGalleryDesigners .teamRole,
.AboutUsGalleryDevelopers .teamRole {
  margin: 0.5rem 0;
  font-style: italic;
  color: #1A3E35;
}

.AboutUsGalleryDesigners .teamImg,
.AboutUsGalleryDevelopers .teamImg {
  border-radius: 50%;
  max-height: 160px;
  max-width: 160px;
}

.AboutUsContact {
  display: flex;
  height: 100vh;
}

.AboutUsContactForm {
  margin: 10% 1rem;
}

.Intro {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  padding-top: 8rem;
}

.Intro h1 {
  color: #00291F;
}

.Intro .IntroPara {
  color: #1A3E35;
  margin: 3rem;
}

.AboutContactForm {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3rem auto;
  padding: 0;
}

.AboutContactForm h1 {
  color: #00291F;
}

.AboutContactForm h2 {
  color: #00291F;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.AboutContactForm .IntroPara {
  color: #1A3E35;
  margin: 3rem;
}

.ContactSection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  gap: 5rem;
}

.ContactSection img {
  max-height: 150px;
  max-width: 150px;
}

.ContactSection .contactForm {
  display: flex;
  flex-direction: column;
}

.ContactSection .contactForm input {
  margin: 1rem 0;
  height: 2rem;
  width: 300px;
  border-radius: 20px;
  border: 1px solid #00291F;
}

.ContactSection .contactForm input::placeholder,
.ContactSection .contactForm textarea::placeholder {
  color: #1A3E35;
  padding-left: 0.5rem;
}

.ContactSection .contactForm textarea::placeholder {
  padding-top: 0.5rem;
}

.ContactSection .contactForm textarea {
  resize: none;
  margin: 1rem 0;
  border-radius: 20px;
  height: 200px;
  border: 1px solid #00291F;
}

.SearchResultsPage {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SearchResultsPage h1 {
  font-size: 40px;
  margin-bottom: 1rem;
  color: #1A3E35;
}

.SearchResultsPage p {
  font-size: 24px;
  margin-bottom: 1rem;
  color: #1A3E35;
}

.SearchResultsPage h3 {
  font-size: 20px;
  margin-bottom: 1rem;
  color: #1A3E35;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

.SearchResultsPage h4 {
  font-size: 20px;
  color: #1A3E35;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

.SearchResultsPage a {
  color: #1A3E35;
  font-weight: 800;
}

.resultCard {
  background: #FCFAFC;
  border-radius: 20px;
}

.resultCardContent {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  grid-template-areas: "img text " "img text ";
}

.resultCardImg {
  grid-area: img;
  height: 260px;
  overflow: hidden;
}

.resultCardText {
  grid-area: text;
  text-align: center;
}

.resultCardContent {
  margin: 1rem 0;
}

.resultMap {
  height: 100%;
  min-width: 500px;
  flex: 1;
}

.resultsContainer {
  display: flex;
  margin: auto;
  width: 100%;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.resultSection {
  display: flex;
  margin: 1rem;
}

.heroImage {
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/heroImg.png");
  height: 530px;
  color: #FCFAFC;
  padding-top: 5rem;
}

.heroImage h1 {
  margin-bottom: 20px;
  font-weight: 200;
  font-size: 48px;
}

.heroImage p {
  margin: 50px 0 20px 0;
}

.searchBar {
  width: 40rem;
  background: #FCFAFC;
  border: none;
  padding: 0.5rem;
  border-radius: 20px;
  height: 1.2rem;
}

.heroButton,
.searchBtn {
  position: relative;
  border: none;
  background: #FF5A1F;
  border-radius: 30px;
  padding: 0.7rem 2.2rem;
  color: #FCFAFC;
}

.heroContent {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FCFAFC;
}

.HomeHikeCard {
  border-radius: 20px;
  margin: 1rem 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  border-radius: 20px;
  object-fit: cover;
  border-radius: 2rem;
  display: grid;
  grid-template: "container";
  place-items: center;
  place-content: center;
  overflow: hidden;
  max-height: clamp(600px, 50vh, 600px);
}

.HomeHikeCard:hover {
  transform: scale(1.05);
}

.HomeHikeCard * {
  grid-area: container;
  max-width: 1000px;
}

.HomeHikeCard img {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.HomePopularHikes {
  padding: 5rem;
}

.HomePopularHikes h2 {
  font-size: 40px;
  color: #00291F;
  font-weight: 200;
}

.HomePopularContainer {
  display: flex;
  gap: 1.2rem;
}

.HomePopularImage {
  width: 100%;
}

.HomeHikeCard h2,
.HomeHikeCard h3 {
  text-align: center;
  color: #FCFAFC;
  font-family: "DM Sans", sans-serif;
  display: flex;
}

.HomeHikeCard h2 {
  font-weight: 300;
  font-size: 24px;
}

.HomeHikeCard h3 {
  font-weight: 200;
  font-size: 20px;
}

.HomeFeatures {
  padding: 5rem 5rem 0 5rem;
}

.HomeFeatures h2 {
  font-size: 40px;
  color: #00291F;
  font-weight: 200;
}

.HomeFeatureContainer {
  text-align: left;
}

.HomeFeatureContainer .HomeFeatureCard:nth-child(2n + 1) {
  flex-direction: row-reverse;
}

.HomeFeatureCard {
  display: flex;
  margin: 2rem 0;
  text-align: left;
}

.HomeFeatureCard .HomeFeatureInfo {
  padding: 1rem;
}

.HomeFeatureCard .HomeFeatureInfo h2 {
  font-size: 40px;
  color: #1A3E35;
  font-weight: 200;
}

.HomeFeatureCard .HomeFeatureInfo p {
  font-size: 16px;
  color: #1A3E35;
  font-weight: 200;
}

.HomeFeatureCard .HomeFeatureImage {
  max-width: 250px;
  height: auto;
  margin-right: 0.5rem;
}

.HomeFeatureCard .HomeFeatureInfo {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
}

.BlogSection {
  padding: 0 5rem 0 5rem;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 2rem;
}

.BlogSection h2 {
  font-size: 40px;
  color: #00291F;
  font-weight: 200;
}

.BlogCardContainer {
  background: #FCFAFC;
  border-radius: 20px;
  margin: 1rem 0;
}

.BlogCardContainer a {
  text-decoration: none;
  color: #1A3E35;
}

.blogCard {
  display: flex;
  justify-content: center;
}

.blogCard img {
  flex: 1;
  border-radius: 20px 0 0 20px;
}

.blogCard .blogContent {
  flex: 1;
  padding: 1rem;
}

.blogCard .blogContent h2 {
  font-size: 40px;
  color: #1A3E35;
  font-weight: 200;
}

.blogCard .blogContent h2:hover {
  text-decoration: underline;
}

.blogCard .blogContent p {
  font-size: 16px;
  color: #1A3E35;
  font-weight: 200;
}

.morePosts {
  display: flex;
  justify-content: center;
  border: none;
  background: #00291F;
  border-radius: 30px;
  padding: 0.7rem 2.2rem;
  margin: 0 auto;
  color: #FCFAFC;
  cursor: pointer;
}

.morePosts a {
  color: #FCFAFC;
}

.HomeAbout {
  background: #FCFAFC;
  padding: 2rem 0;
  display: flex;
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HomeAbout h2 {
  text-align: center;
  font-size: 40px;
  color: #00291F;
  font-weight: 200;
}

.HomeAbout .HomeAboutInfo {
  width: 500px;
}

.HomeAbout p {
  font-size: 16px;
  color: #1A3E35;
  font-weight: 200;
}

.HomeContact {
  text-align: center;
  margin: 3rem 0 0 0;
  margin-bottom: 4rem;
}

.HomeContact p {
  margin-bottom: 3rem;
  color: #1A3E35;
}

.CompareTable {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: auto;
  height: 100vh;
}

.CompareInfo {
  height: 3rem;
  text-align: center;
}

.CompareLabel {
  height: 3rem;
}

.blogPage {
  padding: 3rem;
  padding-top: 10rem;
  min-height: 150vh;
}

.blogPage h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}

.blogCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.blogCard {
  border-radius: 1rem;
}

#discoverImage {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 2rem;
}

.discoverMain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.sortButton,
.filterButton {
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  border: none;
  background-color: green;
  color: white;
  margin: 2rem 1rem;
}

.savedHikesCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

#savedHikeImage {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 2rem;
}

.newsCards {
  display: flex;
  flex-direction: row;
}

.newsCards .card {
  border: 1px solid black;
  border-radius: 2rem;
  margin: 0 1rem;
  padding: 2rem;
}

.sliderImages .images {
  display: flex;
  flex-direction: row;
}

.sliderImage {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}

.sliderImages {
  display: flex;
  justify-content: center;
}

.sliderButtons {
  display: flex;
  justify-content: center;
}

.detailsSection {
  background: #FCFAFC;
  margin: 3rem;
  border-radius: 20px;
}

.detailsSection .detailsFeatures {
  padding: 3rem;
}

.detailsSection .detailsFeatures ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 1rem;
}

.detailsSection .detailsFeatures ul li {
  padding: 1rem;
}

.detailsSection .detailsDesc {
  padding: 2rem;
}

.detailsContent {
  display: flex;
  gap: 1rem;
}

.detailsContent ul {
  list-style: none;
}

.detailsTitle {
  text-align: center;
}

.detailsHeading {
  font-size: 24px;
  font-weight: bold;
  margin: 1rem;
  font-family: "DM Sans", sans-serif;
}

.compareButton {
  border: none;
  background: #FF5A1F;
  border-radius: 30px;
  padding: 0.7rem 2.2rem;
  color: #FCFAFC;
  margin-top: 1rem;
}

.imageGrid {
  --gap: 16px;
  --num-cols: 4;
  --row-height: 300px;
  box-sizing: border-box;
  padding: var(--gap);
  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}

.imageGrid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageGrid img:first-child {
  grid-column: span 2;
  grid-row: span 2;
}

.newsCards {
  margin: 3rem;
}

.detailMap {
  border-radius: 20px;
  margin: 3rem;
}

.review {
  color: #1A3E35;
  background: #FCFAFC;
  border-radius: 20px;
  margin: 3rem;
  padding: 1rem;
  max-width: 500px;
}

.reviewCard {
  display: flex;
  flex-direction: column;
}

.App {
  position: relative;
  min-height: 100vh;
}

* {
  font-family: "DM Sans", sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  background: linear-gradient(180deg, #FCFAFC 0%, #D3E0DD 100%);
}

.footer {
  background-color: #1A3E35;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  color: #FCFAFC;
  position: absolute;
  width: 100%;
}

.signUpPage {
  height: 100vh;
  padding-top: 10rem;
}

.SignUpForm #signup-form {
  display: grid;
}

.LoginPage {
  height: 100vh;
  padding-top: 10rem;
}
