$text_light_color: #FCFAFC;
$text_dark_color: #1A3E35;
$orange_color: #FF5A1F;
$dark_color: #00291F;
$light_color: #4D6962;
$body_bg_gradient: linear-gradient(180deg, #FCFAFC 0%, #D3E0DD 100%);
$footer_bg_gradient: linear-gradient(135deg, #00291F 0%, #000C09 100%);
$box_shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);