@import url('https://fonts.googleapis.com/css2?family=Allan&family=DM+Sans&display=swap');

$font-family-base: 'DM Sans', sans-serif;
$font-family-heading: 'Allan', cursive;
$font-size-base: 16px;
$font-size-1: 20px;
$font-size-2: 24px;
$font-size-3: 40px;
$font-size-4: 48px;