.AboutGallery {
  margin: 1rem 2rem;
}

.AboutUsGalleryDesigners,
.AboutUsGalleryDevelopers {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  text-align: center;
  margin: 3rem 0;

  .teamName {
    color: $orange_color;
    font-family: $font-family-base;
    font-size: 1.2rem;
  }

  .teamRole {
    margin: 0.5rem 0;
    font-style: italic;
    color: $text_dark_color;
  }

  .teamImg {
    border-radius: 50%;
    max-height: 160px;
    max-width: 160px;
  }
}

.AboutUsContact {
  display: flex;
  height: 100vh;
  padding-top: 10rem;
  
}

.AboutUsContactForm {
  margin: 10% 1rem;
}

.Intro {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  padding-top: 8rem;

  h1 {
    color: $dark_color;
  }
  .IntroPara {
    color: $text_dark_color;
    margin: 3rem;
  }
}
