.compareHikeBtn {
  text-align: right;
}

.singlePageButtons {
  display: flex;
  flex-wrap: row nowrap;
  justify-content: center;
}

button {
  background-color: $orange_color;
  color: white;
  padding: 0.7rem 2.2rem;
  border-radius: 20px;
  text-decoration: none;
  //   margin-top: 1rem;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $dark_color;
  }

  #logout {
    margin-top: 0;
  }
}
