.detailsSection {
  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  background: $text_light_color;
  margin: 3rem;
  border-radius: 20px;

  .detailsFeatures {
    padding: 3rem;

    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: 1rem;

      li {
        padding: 1rem;
      }
    }
  }

  .detailsDesc {
    padding: 2rem;
  }
}



.detailsContent {
  display: flex;
  // flex-direction: column;
  gap: 1rem;

  ul {
    list-style: none;
  }
}

.detailsTitle {
  text-align: center;
}

.detailsHeading {
  // text-align: center;
  font-size: $font-size-2;
  font-weight: bold;
  // margin: 1rem;
  font-family: $font-family-base
}

.compareButton {
  border: none;
  background: $orange_color;
  border-radius: 30px;
  padding: 0.7rem 2.2rem;
  color: $text_light_color;
  margin-top: 1rem;
}

// img grid from https://codepen.io/dcode-software/pen/GRmBQYV
.imageGrid {
  --gap: 16px;
  --num-cols: 4;
  --row-height: 300px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  img:first-child {
    grid-column: span 2;
    grid-row: span 2;
  }

}

.newsCards {
  margin: 3rem;
}

.detailMap {
  border-radius: 20px;
  margin: 3rem;
}

// review section
.review {
  color: $text_dark_color;
  background: $text_light_color;
  border-radius: 20px;
  margin: 3rem;
  padding: 1rem;
  max-width: 500px;
  // flex: 50%;
}

.reviewCard {
  display: flex;
  flex-direction: column;
  // flex-direction: column;
}

